<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Didi Mudigdo">
		<meta name="robots" content="index, follow">

		<!-- icons -->
		<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
                <link rel="shortcut icon" href="/img/piano32px.ico">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="/css/main.css">
		{% seo %}
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1 class="header-heading">Didi Mudigdo</h1><br>Jazz Piano &amp; Vocals
			</div>
			<div class="nav-bar">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/audio">Audio</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/lessons">Lessons</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="main">
                {{ content }}
                </div><!-- main -->
			</div>
			<div class="footer">
				Proudly not powered by WordPress. CSS Layout by <a href="http://css.maxdesign.com.au/#layouts" target="_blank">Max Design</a>.
			</div>
		</div>
	</body>
</html>
